body{
  margin:0; 
  background-color: #006b2d;
}

#nav{
  padding:50px; 
  list-style: none;
  align-content:center;
  justify-content: baseline;
  font-family:'Comic Sans'
}
#nav li{
  display:inline-block;
}
#nav li a{
  color:red;
}

#nav li a:hover{
  color:maroon;
}

#main-grid{
  grid-template-areas:
  "nav nav nav nav logo"
  ". content content content side"
  ". wide . side"
}

.nav{
  grid-area:"nav";
}
.main{
  grid-area: "content";
}
.side{
  grid-area: "side";
}
.wide{
  grid-area: "wide";
}